body{
    background-color: #b20c41;
}

#firstHeading{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    
}

#secondHeading{
    text-align: center;
    font-family: 'Bellefair', serif;
}

#me{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color:#f9c2d4;
}

#thirdHeading{
    font-family: 'Permanent Marker', cursive;
    color: white;
}

#body2{
    background-color: #8ef9ff;
    
}

#pictureHeading{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #778182;
}

#one{
    height: 200px;
    width: 200px;
    
}
.col-xs-1 {
    background-color:OrangeRed;
    border: solid;
}

.col-xs-2 {
    background-color:SteelBlue  ;
    border: solid;
}

.col-xs-3 {
    background-color:black ;
    border: solid;
}

.col-xs-4 {
    background-color:LightYellow ;
    border: solid;
}

.col-xs-5 {
    background-color:blue;
    border: solid;
}

.col-xs-6 {
    background-color: LightSalmon ;
    border: solid;
}

.col-xs-7 {
    background-color: brown;
    border: solid;
}

.col-xs-8 {
    background-color:LightSeaGreen ;
    border: solid;
}

.col-xs-9 {
    background-color:black;
    border: solid;
}

.col-xs-10 {
    background-color:brown;
    border: solid;
}

.col-xs-11 {
    background-color:gray;
}

.col-xs-12 {
    background-color: white;
    border: solid;
}